<!DOCTYPE html>
<html>
  <head>
    <title>پنل</title>
    <link rel="icon" href="/panel/favicon" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/panel/lib/css/main.css">
    <link rel="stylesheet" type="text/css" href="/panel/lib/css/newsPosting.css">
    <link href="/panel/lib/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <!-- Right Menu -->
    <div id="menu">
      <a id="menu-logo" href="/">
        <div>
          <img src="/panel/lib/assets/Logo.png">
        </div>
        <div id="span-parent">
          <span>کما استودیو</span>
        </div>
      </a>
      <!-- Menu List -->
      <div id="menu-div">
        <ul id="menu-ul">

          <li class="menu-li">
            <a class="menu-a" href="/panel">
              <i class="fas fa-home"></i>
              <span>داشبورد</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/newsPosting">
              <i class="fas fa-pen-alt"></i>
              <span>خبرگزاری</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/addPortfolio">
              <i class="fas fa-pen-alt"></i>
              <span>افزودن نمونه‌کار</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/manageCategory">
              <i class="fas fa-pen-alt"></i>
              <span>مدیریت دسته‌ها</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/manageSubcats">
              <i class="fas fa-pen-alt"></i>
              <span>مدیریت زیردسته‌ها</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/messages">
              <i class="fas fa-pen-alt"></i>
              <span>مشاهده‌ی پیام‌ها</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/deleteCategory">
              <i class="fas fa-pen-alt"></i>
              <span>حذف دسته‌ها</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/deletePortfolio">
              <i class="fas fa-pen-alt"></i>
              <span>حذف نمونه‌کارها</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/deleteSubcat">
              <i class="fas fa-pen-alt"></i>
              <span>حذف زیردسته‌ها</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/deleteNews">
              <i class="fas fa-pen-alt"></i>
              <span>حذف اخبار</span>
            </a>
          </li>

          <li class="menu-li">
            <a class="menu-a" href="/panel/changeBackPhoto">
              <i class="fas fa-pen-alt"></i>
              <span>تغییر عکس بکگراند</span>
            </a>
          </li>

        </ul>
      </div>
    </div>


    <div id="top-menu">

      <ul>
        <li>
          <a href="/panel/signout">
            <i class="fas fa-sign-out-alt gray-icons"></i>
          </a>
        </li>
      </ul>

    </div>

    <div id="container">
      <form action="/panel/api/news" method="post" enctype="multipart/form-data">

        <div id="text-inputs">
          <input type="text" name="newsTitle" placeholder="عنوان خبر را اینجا وارد کنید">
          <input type="text" name="newsEnTitle" placeholder="عنوان خبر را به انگلیسی وارد کنید">
          <textarea style="resize:vertical;" name="newsText" class="news-text" placeholder="متن خبر را اینجا وارد کنید..."></textarea>
          <textarea style="resize:vertical;" name="newsEnText" class="news-text" placeholder="متن خبر را به انگلیسی وارد کنید"></textarea>
        </div>

        <div id="left-inputs">
          <div class="img-upload-wrapper">
            <button class="img-upload-button">انتخاب عکس</button>
            <input type="file" name="images">
          </div>

          <div class="category-selection" id="cat-selection">
            <ul>
              <li>
                <span>اخبار استودیو</span>
                <input name="type" value="studio" type="radio">
              </li>

              <li>
                <span>اخبار دیگر</span>
                <input name="type" value="other" type="radio">
              </li>
            </ul>
          </div>

          <input type="submit" name="newsSubmit" id="newsSub" value="انتشار">
        </div>

    </form>
    </div>
  </body>
</html>
